@model Lesson011_Identity.Models.LoginDto


<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="Login">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (ViewBag.Errors !=null)
            {
                <div class="text-red ml">
                    <ul>
                        @foreach (string error in ViewBag.Errors)
                        {
                            <li class="ml">@error</li>
                        }
                    </ul>
                </div>
            }
         
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>          
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>           
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
