
<div>
    This is Menu Component
</div>
<di>
    <ol>
        <li>
            Home
        </li>
        <li>
            About Us
        </li>
        <li>
            Contact
        </li>
    </ol>
</di>