@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Example>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>List</p>
<div>
    <table>
        <tr>
            <td>Id</td>
            <td>Name</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }
    </table>   
</div>