@{
    ViewData["Title"] = "Home Page";
}
@model List<string>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>Partial</div><hr />
<div>
    <span>with tag</span>
    <partial name="_ListPartialView" />
    <br />
    <span>Method</span>
    @Html.Partial("_ListPartialView")
    <br/>
    <span>asyn Method</span>
    @await Html.PartialAsync("_ListPartialView")
</div>
<hr />
<div>Partial with viewBag</div>
<hr />
<div>
    @await Html.PartialAsync("_ListViewBagListPartial")
</div>
<br />
<div>Strong Type </div>
<div>
    <partial name="_ListStrongTypePartialView" model="@Model">
</div>
<div>
    @await Html.PartialAsync("_ListViewBagListPartial",Model)
</div>