@{
    ViewData["Title"] = "Home Page";
}
@model List<string>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>Partial</div><hr />
<div>
    <span>with tag</span>
    <partial name="_ListPartialView" />
    <br />
    <span>Method</span>
    @Html.Partial("_ListPartialView")
    <br/>
    <span>asyn Method</span>
    @await Html.PartialAsync("_ListPartialView")
</div>
<hr />
<div>Partial with viewBag</div>
<hr />
<div>
    @await Html.PartialAsync("_ListViewBagListPartial")
</div>
<br />
<div>Strong Type </div>
<div>
    <partial name="_ListStrongTypePartialView" model="@Model">
</div>
<span>async</span>
<div>
    @await Html.PartialAsync("_ListViewBagListPartial",@Model)
</div>
<hr/>
<div>Ajax PartialView</div>
<div>

</div>
<script>
    document.querySelector("#button-load").addEventListener("click", async function(){
        var response = await fetch("cities");
        var cities = await response.text();
        document.querySelector(".cities-content")
    })
</script>